@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 25px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 100%;
  padding: 25px 0;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 40px 10px 10px 10px;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--gray-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--gray-7);
}

.TokenItem {
  object-fit: contain;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px 0px;
}

.TokenItem:hover {
  background-color: #f0f0f0;
}

.TokenQuantity {
  margin-left: auto;
  margin-right: 10px;
}

.TokenList {
  height: calc(100vh * 0.69);
  overflow-y: scroll;
}

.tokenTicker {
  font-size: 16px;
  font-weight: 600;
}

.tokenName {
  font-size: 12px;
  font-weight: 400;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
