@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

.app-container {
  width: 100%;
  height: 100vh;
  /* height: 100%; */
  background: #eeeeee;
}

.header {
  align-self: stretch;
  height: 60px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #c26d6d;
  justify-content: space-between;
  overflow: visible;
}

.footer {
  align-self: stretch;
  height: 60px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 4px;
  padding-bottom: 4px;
  /* border-top: 1px solid #c26d6d; */
  justify-content: center;
  overflow: visible;
}

.header-title {
  color: #dd6b6b;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;
  text-shadow: 2px 2px 0 #2d2d2d, -1px -1px 0 #2d2d2d, 1px -1px 0 #2d2d2d,
    -1px 1px 0 #2d2d2d, 1px 1px 0 #2d2d2d;
}

.mini-title {
  padding-top: 5px;
  padding-right: 5px;
  color: #ffffff;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;
  text-shadow: 2px 2px 0 #2d2d2d, -1px -1px 0 #2d2d2d, 1px -1px 0 #2d2d2d,
    -1px 1px 0 #2d2d2d, 1px 1px 0 #2d2d2d;
}

.widgetContainer {
  height: 100%;
}

.sendWidget {
  width: 426px;
  height: 80%;
  max-height: 600px;
  padding: 30px;
  background: linear-gradient(331deg, #eed0d0 0%, #f9eeee 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: hidden;
  border: 3px white solid;
}

.input-container {
  align-self: stretch;
  height: 100%;
  justify-content: flex-start;
}

.token-input-box {
  align-self: stretch;
  padding: 15px;
  background: #b2b2b2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
}

.address-input-box {
  align-self: stretch;
  padding: 15px;
  background: #b2b2b2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
}

.token-input-element {
  width: 100%;
}

.balance-info {
  width: 100%;
  height: 20px;
}

.ens-address {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

.info-text {
  font-weight: 500;
  color: #717171;
}

.address-input-element {
  width: 100%;
}

.token-input-text {
  background: #b2b2b2;
  font-size: 24px;
  font-weight: 500;
  color: #3f3f3f;
  width: 100%;
}

.address-input-text {
  background: #b2b2b2;
  width: 100%;
}

.rt-TextAreaInput {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #3f3f3f;
  text-align: right;
  text-indent: 0;
  overflow-x: visible;
}

.rt-TextAreaChrome {
  background: #b2b2b2;
}

/* .rt-TextFieldInput:where(.rt-variant-soft)::selection {
  background-color: transparent;
} */

.button-main {
  width: 100%;
}

.token-selector-button {
  padding: 3px 10px;
  /* background-color: #4d4d4d; */
}

.token-logo {
  aspect-ratio: 1/1;
  height: calc(100% - 2 * 3px); /* 100% height of the parent minus padding */
}

.token-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

pre {
  display: block;
  text-align: start;
  max-width: 500px;
  background-color: lightgray;
  padding: 14px;
  max-height: 400px;
  scroll-behavior: auto;
  overflow: auto;
}

.symbol {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 10px;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
